/*Style Sheet*/

/*Base Settings*/

.wrap {
    min-height: calc(100vh - 7opx);
    font-size: 1em;
}

.background {
    text-align: center;
    color: whitesmoke;
    background: darkgrey;
    margin: auto;
}

/*Header Style*/
h1 {
    padding: 50px 0 0;
    text-shadow: 1px 1px 5px black;
}

.main-heading {
    font: bold 2em monospace;
    width: auto;
    height: 400px;
    margin: -40px auto auto;
    background: linear-gradient(darkgrey, transparent 5%),
                linear-gradient(0deg, darkgrey, transparent), 
                darkgrey url('../img/car.jpg') no-repeat center;
}

/*Style and settings for Navigation*/

ul {
    list-style-type: none;
}

.lists {
    display: inline;
    font-size: 1em;
}

.first-item {
    padding-top: 50px;
}

.selected {
    text-shadow: 1px 1px 5px black;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: default;
}

a:hover {
    text-shadow: 2.5px 2.5px 20px black,
                 1.25px 2.5px 20px white,
                -2.5px -2.5px 20px black,
                -1.25px -2.5px 20px white;
}

/*Width settings for content*/

.content {
    width: 80%;
    margin: auto;
}

img {
    height: 40%;
    width: 60%;
    padding: 25px 0 0;
}

img:last-of-type {
    padding: 25px 0;
}

footer {
    background: linear-gradient(darkgrey, transparent 20%),
                whitesmoke;
    color: darkgrey;
    margin: auto;
    padding: 10px;
    height: 50px;
}

.footer-text {
    position: absolute;
    left: 0;
    right: 0;
}

/*Front Page Slideshow*/

{box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 60%;
  position: relative;
  margin: auto;
  cursor: pointer;
}

.mySlides {
    display: none;
}


/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/*Media Query - Fixed Navigation for screens/browser windows smaller than 320px*/
@media only screen and (max-width: 320px) {    
    h2:first-of-type {
        padding-top: 50px;
    }
}

/*Media Query - Header position and size*/
@media only screen and (max-width: 445px) {
    .main-heading {
        height: 350px;
    }
    
    .lists {
        padding-bottom: 100px;
    }
    
    h1 {
        font-size: 1.5em;
    }
}

/*Media Query - Fixed positioning of navigation for screens/browser windows smaller than 464px*/
@media only screen and (max-width: 464px) {
    li:last-of-type {
        padding-bottom: 25px;
    }
}

/*Media Query - Added Borderline between sections for screens/browser windows greater than 465px */

@media screen and (min-width: 465px) {
    .borderline {
        border-bottom: 1.5px solid whitesmoke;
        width: 60%;
        margin: auto;
        padding: 10px 0;
    }
}

/*Media Query - Fixed spacing of list elements for certain sized screens*/

@media screen and (min-width: 465px) and (max-width: 788px) {
    .first-item {
        padding-top: 25px;
    }
    li:last-of-type {
        padding-bottom: 25px;
    }
}

